@{
    ViewBag.Title = "Patient Sign In";
}

<h2>Patient Sign In</h2>
<form method="post" action="/Home/PatientSignIn" class="signin-form">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
